.form-header .form-group {
  width: 100%;
}

span.error {
  display: block;
  color: crimson;
  margin-left: 20px;
  margin-top: 5px;
}


.buttons {
  justify-content: space-between;
}

.buttons {
  justify-content: space-between;
}

.buttons button.finish:disabled {
  background-color: gray;
  cursor: not-allowed;
}

.buttons button.finish {
  background: orange;
}
